# Unwanted file types 
*.pyc
__pycache__

# Unwanted data
fixtures/
db.sqlite3
database/
docker/apps/
docker/config/
docker/manage.py
docker/requirements.txt
docker/staticfiles
tmp/

# Environment 
.env*
.vscode/
