{% extends 'ui/base.html' %}
{% block content %}
<style>
    table {
        max-width: 40%;
    }

    input[type=text] {
        min-width: 50%;
    }

    input[type=number] {
        max-width: 60px;
    }

    textarea {
        min-width: 50%;
        padding: 10px;
        resize: both;
    }

    input {
        padding: 0.5rem;
    }

    select {
        padding: 0.5rem;
    }
</style>
<div id="content" class="container mb-4">
    <h3>Add New Task for Project: {{ project.name }}</h3>
    <form action="{% if sprint %}?sprint={{sprint.id}}{% endif %}" method="POST">
        {% csrf_token %}
        {% for field in add_task_form %}
            {% if field.label == 'Categories' %}
            <p>{{ field.label }} <a href="{% url 'ui-add-category-view' project.id %}" title="Add category for this project">+</a></p>
            {% else %}
                <p>{{ field.label }}</p>
            {% endif %}
            
            <p>{{ field }}</p>
        {% endfor %}
        {{ add_task_form.media }}
        <p>
            <button type="submit" class="btn btn-success">Submit</button>
            
            <button class="btn btn-warning" onclick=window.location.href="{% url 'ui-project-view' project.id %}">
                Cancel
            </button>
        </p>
    </form>
</div>
{% endblock %}