{% extends 'ui/base.html' %}
{% block content %}
<style>
    table {
        max-width: 40%;
    }

    input[type=text] {
        min-width: 50%;
    }

    input[type=number] {
        max-width: 60px;
    }

    textarea {
        min-width: 50%;
        padding: 10px;
        resize: both;
    }

    input {
        padding: 0.5rem;
    }

    select {
        padding: 0.5rem;
    }
</style>
<div id="content" class="container mb-4">
    <h3>Update Sprint: {{ sprint.name }}</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in update_sprint_form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
        {% endfor %}
        {{ update_sprint_form.media }}
        <p>
            <button type="submit" class="btn btn-success">Save</button>
            
            <button class="btn btn-warning" onclick=window.location.href="{% url 'ui-sprint-view' sprint.id %}">
                Cancel
            </button>
        </p>
    </form>
</div>
{% endblock %}