<div class="container mt-4">
  <h2>Open Sprints</h2>
</div>

<div class="container mt-4 mb-4">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <th>Name</th>
      <th>Project</th>
      <th>Started</th>
      <th>Ended</th>
      <th>Status</th>
      <th>Leader</th>
    </thead>
    <tbody>
      {% for project in project_qs %}
        {% for sprint in project.sprint_set.all %}
          <tr>
            <td>{{ sprint.name }}</td>
            <td>{{ sprint.project.name }}</td>
            <td>{{ sprint.started|default:'--' }}</td>
            <td>{{ sprint.ended|default:'--' }}</td>
            <td>{{ sprint.status }}</td>
            <td>{{ sprint.leader }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>